In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.metrics import accuracy_score
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import SVG
from graphviz import Source
from IPython.display import display
from IPython.display import HTML
style = "<style>svg{width: 40% !important; height: 40% !important;} </style>"
HTML(style)

## Question1

In [13]:
common_df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/AB_NYC_2019.csv')

In [14]:
df = common_df[['latitude','longitude','price','minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365']]

In [15]:
df.isna().sum()

latitude                              0
longitude                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

## Question2

In [16]:
median = df['minimum_nights'].median()

In [17]:
median

3.0

In [24]:
n = len(df)
n_val = int(n * 0.2)
n_test = int(n * 0.2)
n_train = n - n_val - n_test

In [25]:
n

48895

In [26]:
n_val, n_test, n_train

(9779, 9779, 29337)

In [35]:
df_train = df.iloc[:n_train]
df_val = df.iloc[n_train:n_train+n_val]
df_test = df.iloc[n_train+n_val:]

In [36]:
len(df_train), len(df_val), len(df_test)

(29337, 9779, 9779)

In [28]:
random_set = np.arange(n)

In [29]:
np.random.seed(42)

In [30]:
np.random.shuffle(random_set)

In [37]:
df_train = df.iloc[random_set[:n_train]]
df_val = df.iloc[random_set[n_train:n_train+n_val]]
df_test = df.iloc[random_set[n_train+n_val:]]

In [38]:
len(df_train), len(df_val), len(df_test)

(29337, 9779, 9779)

In [40]:
price_logs = np.log1p(df.pop("price"))

In [41]:
price_logs

0        5.010635
1        5.420535
2        5.017280
3        4.499810
4        4.394449
           ...
48890    4.262680
48891    3.713572
48892    4.753590
48893    4.025352
48894    4.510860
Name: price, Length: 48895, dtype: float64

In [42]:
df.head()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,40.64749,-73.97237,1,9,0.21,6,365
1,40.75362,-73.98377,1,45,0.38,2,355
2,40.80902,-73.94190,3,0,NaN,1,365
3,40.68514,-73.95976,1,270,4.64,1,194
4,40.79851,-73.94399,10,9,0.10,1,0